html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0;
  font-family: arial; }

aside {
  -webkit-user-select: none; }
aside .toggle-btn {
  cursor: pointer;
  z-index: 999;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 30px;
  left: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #C03B46; }
@media screen and (max-width: 414px) {
  aside .toggle-btn {
    position: fixed;
    top: 15px;
    left: 15px;
    width: 40px;
    height: 40px; } }
aside .toggle-btn span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #F4EBD8;
  position: relative;
  left: 15px;
  top: 28px; }
@media screen and (max-width: 414px) {
  aside .toggle-btn span {
    width: 20px;
    height: 2px;
    left: 10px;
    top: 19px; } }
aside .toggle-btn span:before, aside .toggle-btn span:after {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: absolute;
  content: "";
  width: 30px;
  height: 4px;
  background-color: #F4EBD8; }
@media screen and (max-width: 414px) {
  aside .toggle-btn span:before, aside .toggle-btn span:after {
    width: 20px;
    height: 2px; } }
aside .toggle-btn span:before {
  top: -8px; }
aside .toggle-btn span:after {
  top: 8px; }
aside .toggle-btn:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6); }
aside .toggle-btn:hover span, aside .toggle-btn:hover span:before, aside .toggle-btn:hover span:after {
  background-color: white; }
aside .toggle-btn.menu-open span {
  background-color: transparent; }
aside .toggle-btn.menu-open span:before, aside .toggle-btn.menu-open span:after {
  background-color: #F4EBD8;
  top: 0; }
aside .toggle-btn.menu-open span:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }
aside .toggle-btn.menu-open span:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }
aside .toggle-btn.menu-open:hover span:before, aside .toggle-btn.menu-open:hover span:after {
  background-color: white; }
aside nav {
  z-index: 998;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 60px;
  left: 60px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  background: #F4EBD8;
  color: #3A3D3F;
  border-radius: 5px;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease; }
aside nav ul {
  list-style: none;
  padding: 10px; }
aside nav ul li {
  text-align: center;
  height: 35px;
  line-height: 35px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
aside nav ul li:hover {
  background: #C03B46;
  color: #F4EBD8;
  font-weight: bold; }
@media screen and (max-width: 414px) {
  aside nav {
    border-radius: 0 0 5px 5px;
    position: fixed;
    top: -300px;
    left: 0px;
    width: 100%;
    height: 300px; } }
aside nav.menu-open {
  width: 250px;
  height: 300px; }
@media screen and (max-width: 414px) {
  aside nav.menu-open {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 300px; } }
aside .btn-ctr {
  z-index: 997;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none; }

section.welcome {
  width: 100%;
  height: 100vh;
  background: url(../img/welcome.png);
  background-attachment: fixed; }
section.welcome .welcome-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
section.welcome .welcome-container div {
  text-align: center;
  letter-spacing: 0.1em;
  color: #3A3D3F;
  margin-top: 20px; }
section.welcome .welcome-container .logo {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background: url(../img/logo.svg);
  background-size: 100% 100%;
  margin-bottom: 20px;
  margin-top: 20px; }
@media only screen and (max-width: 64em) {
  section.welcome .welcome-container .logo {
    width: 160px; } }
@media only screen and (max-width: 40em) {
  section.welcome .welcome-container .logo {
    width: 120px; } }
@media only screen and (max-width: 64em) {
  section.welcome .welcome-container .logo {
    height: 160px; } }
@media only screen and (max-width: 40em) {
  section.welcome .welcome-container .logo {
    height: 120px; } }
section.welcome .welcome-container .welcome-jobtitle {
  font-size: 14px;
  letter-spacing: 0.05em; }
section.welcome .welcome-container .welcome-title {
  font-size: 40px;
  font-weight: bolder;
  text-transform: uppercase; }
@media only screen and (max-width: 64em) {
  section.welcome .welcome-container .welcome-title {
    font-size: 30px; } }
@media only screen and (max-width: 40em) {
  section.welcome .welcome-container .welcome-title {
    font-size: 24px; } }
section.welcome .welcome-container .welcome-subtitle {
  font-size: 34px;
  margin-bottom: 40px; }
@media only screen and (max-width: 64em) {
  section.welcome .welcome-container .welcome-subtitle {
    font-size: 24px; } }
@media only screen and (max-width: 40em) {
  section.welcome .welcome-container .welcome-subtitle {
    font-size: 14px; } }
section.welcome .welcome-container i {
  cursor: pointer;
  text-align: center;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  border: 1px solid #3A3D3F;
  font-size: 24px;
  line-height: 40px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
section.welcome .welcome-container i:hover {
  background-color: #C03B46;
  color: white;
  border-color: #C03B46; }
section.welcome .header-container {
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  width: 180px;
  height: 60px;
  border-radius: 30px;
  border: 1px solid #3A3D3F;
  color: #3A3D3F;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
@media screen and (max-width: 414px) {
  section.welcome .header-container {
    width: 40px;
    height: 40px;
    top: 15px;
    right: 15px;
    line-height: 40px; }
  section.welcome .header-container span {
    display: none; } }
@media screen and (min-width: 414px) and (max-width: 768px) {
  section.welcome .header-container {
    width: 60px;
    height: 60px; }
  section.welcome .header-container span {
    display: none; } }
section.welcome .header-container:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  background-color: #C03B46;
  border-color: #C03B46;
  color: #F4EBD8; }

section {
  height: 600px; }
