html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body:before {
  background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 7.36842%, transparent 7.36842%, transparent 8.42105%, #eee 8.42105%, #eee 15.78947%, transparent 15.78947%, transparent 16.84211%, #eee 16.84211%, #eee 24.21053%, transparent 24.21053%, transparent 25.26316%, #eee 25.26316%, #eee 32.63158%, transparent 32.63158%, transparent 33.68421%, #eee 33.68421%, #eee 41.05263%, transparent 41.05263%, transparent 42.10526%, #eee 42.10526%, #eee 49.47368%, transparent 49.47368%, transparent 50.52632%, #eee 50.52632%, #eee 57.89474%, transparent 57.89474%, transparent 58.94737%, #eee 58.94737%, #eee 66.31579%, transparent 66.31579%, transparent 67.36842%, #eee 67.36842%, #eee 74.73684%, transparent 74.73684%, transparent 75.78947%, #eee 75.78947%, #eee 83.15789%, transparent 83.15789%, transparent 84.21053%, #eee 84.21053%, #eee 91.57895%, transparent 91.57895%, transparent 92.63158%, #eee 92.63158%, #eee 100.0%, transparent 100.0%);
  background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 7.36842%, transparent 7.36842%, transparent 8.42105%, #eee 8.42105%, #eee 15.78947%, transparent 15.78947%, transparent 16.84211%, #eee 16.84211%, #eee 24.21053%, transparent 24.21053%, transparent 25.26316%, #eee 25.26316%, #eee 32.63158%, transparent 32.63158%, transparent 33.68421%, #eee 33.68421%, #eee 41.05263%, transparent 41.05263%, transparent 42.10526%, #eee 42.10526%, #eee 49.47368%, transparent 49.47368%, transparent 50.52632%, #eee 50.52632%, #eee 57.89474%, transparent 57.89474%, transparent 58.94737%, #eee 58.94737%, #eee 66.31579%, transparent 66.31579%, transparent 67.36842%, #eee 67.36842%, #eee 74.73684%, transparent 74.73684%, transparent 75.78947%, #eee 75.78947%, #eee 83.15789%, transparent 83.15789%, transparent 84.21053%, #eee 84.21053%, #eee 91.57895%, transparent 91.57895%, transparent 92.63158%, #eee 92.63158%, #eee 100.0%, transparent 100.0%);
  background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 7.36842%, transparent 7.36842%, transparent 8.42105%, #eee 8.42105%, #eee 15.78947%, transparent 15.78947%, transparent 16.84211%, #eee 16.84211%, #eee 24.21053%, transparent 24.21053%, transparent 25.26316%, #eee 25.26316%, #eee 32.63158%, transparent 32.63158%, transparent 33.68421%, #eee 33.68421%, #eee 41.05263%, transparent 41.05263%, transparent 42.10526%, #eee 42.10526%, #eee 49.47368%, transparent 49.47368%, transparent 50.52632%, #eee 50.52632%, #eee 57.89474%, transparent 57.89474%, transparent 58.94737%, #eee 58.94737%, #eee 66.31579%, transparent 66.31579%, transparent 67.36842%, #eee 67.36842%, #eee 74.73684%, transparent 74.73684%, transparent 75.78947%, #eee 75.78947%, #eee 83.15789%, transparent 83.15789%, transparent 84.21053%, #eee 84.21053%, #eee 91.57895%, transparent 91.57895%, transparent 92.63158%, #eee 92.63158%, #eee 100.0%, transparent 100.0%);
  background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 7.36842%, transparent 7.36842%, transparent 8.42105%, #eee 8.42105%, #eee 15.78947%, transparent 15.78947%, transparent 16.84211%, #eee 16.84211%, #eee 24.21053%, transparent 24.21053%, transparent 25.26316%, #eee 25.26316%, #eee 32.63158%, transparent 32.63158%, transparent 33.68421%, #eee 33.68421%, #eee 41.05263%, transparent 41.05263%, transparent 42.10526%, #eee 42.10526%, #eee 49.47368%, transparent 49.47368%, transparent 50.52632%, #eee 50.52632%, #eee 57.89474%, transparent 57.89474%, transparent 58.94737%, #eee 58.94737%, #eee 66.31579%, transparent 66.31579%, transparent 67.36842%, #eee 67.36842%, #eee 74.73684%, transparent 74.73684%, transparent 75.78947%, #eee 75.78947%, #eee 83.15789%, transparent 83.15789%, transparent 84.21053%, #eee 84.21053%, #eee 91.57895%, transparent 91.57895%, transparent 92.63158%, #eee 92.63158%, #eee 100.0%, transparent 100.0%);
  background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 7.36842%, transparent 7.36842%, transparent 8.42105%, #eee 8.42105%, #eee 15.78947%, transparent 15.78947%, transparent 16.84211%, #eee 16.84211%, #eee 24.21053%, transparent 24.21053%, transparent 25.26316%, #eee 25.26316%, #eee 32.63158%, transparent 32.63158%, transparent 33.68421%, #eee 33.68421%, #eee 41.05263%, transparent 41.05263%, transparent 42.10526%, #eee 42.10526%, #eee 49.47368%, transparent 49.47368%, transparent 50.52632%, #eee 50.52632%, #eee 57.89474%, transparent 57.89474%, transparent 58.94737%, #eee 58.94737%, #eee 66.31579%, transparent 66.31579%, transparent 67.36842%, #eee 67.36842%, #eee 74.73684%, transparent 74.73684%, transparent 75.78947%, #eee 75.78947%, #eee 83.15789%, transparent 83.15789%, transparent 84.21053%, #eee 84.21053%, #eee 91.57895%, transparent 91.57895%, transparent 92.63158%, #eee 92.63158%, #eee 100.0%, transparent 100.0%);
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 960px;
  opacity: 0.4;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1; }
@media screen and (max-width: 768px) {
  body:before {
    background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 11.11111%, transparent 11.11111%, transparent 12.69841%, #eee 12.69841%, #eee 23.80952%, transparent 23.80952%, transparent 25.39683%, #eee 25.39683%, #eee 36.50794%, transparent 36.50794%, transparent 38.09524%, #eee 38.09524%, #eee 49.20635%, transparent 49.20635%, transparent 50.79365%, #eee 50.79365%, #eee 61.90476%, transparent 61.90476%, transparent 63.49206%, #eee 63.49206%, #eee 74.60317%, transparent 74.60317%, transparent 76.19048%, #eee 76.19048%, #eee 87.30159%, transparent 87.30159%, transparent 88.88889%, #eee 88.88889%, #eee 100.0%, transparent 100.0%);
    background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 11.11111%, transparent 11.11111%, transparent 12.69841%, #eee 12.69841%, #eee 23.80952%, transparent 23.80952%, transparent 25.39683%, #eee 25.39683%, #eee 36.50794%, transparent 36.50794%, transparent 38.09524%, #eee 38.09524%, #eee 49.20635%, transparent 49.20635%, transparent 50.79365%, #eee 50.79365%, #eee 61.90476%, transparent 61.90476%, transparent 63.49206%, #eee 63.49206%, #eee 74.60317%, transparent 74.60317%, transparent 76.19048%, #eee 76.19048%, #eee 87.30159%, transparent 87.30159%, transparent 88.88889%, #eee 88.88889%, #eee 100.0%, transparent 100.0%);
    background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 11.11111%, transparent 11.11111%, transparent 12.69841%, #eee 12.69841%, #eee 23.80952%, transparent 23.80952%, transparent 25.39683%, #eee 25.39683%, #eee 36.50794%, transparent 36.50794%, transparent 38.09524%, #eee 38.09524%, #eee 49.20635%, transparent 49.20635%, transparent 50.79365%, #eee 50.79365%, #eee 61.90476%, transparent 61.90476%, transparent 63.49206%, #eee 63.49206%, #eee 74.60317%, transparent 74.60317%, transparent 76.19048%, #eee 76.19048%, #eee 87.30159%, transparent 87.30159%, transparent 88.88889%, #eee 88.88889%, #eee 100.0%, transparent 100.0%);
    background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 11.11111%, transparent 11.11111%, transparent 12.69841%, #eee 12.69841%, #eee 23.80952%, transparent 23.80952%, transparent 25.39683%, #eee 25.39683%, #eee 36.50794%, transparent 36.50794%, transparent 38.09524%, #eee 38.09524%, #eee 49.20635%, transparent 49.20635%, transparent 50.79365%, #eee 50.79365%, #eee 61.90476%, transparent 61.90476%, transparent 63.49206%, #eee 63.49206%, #eee 74.60317%, transparent 74.60317%, transparent 76.19048%, #eee 76.19048%, #eee 87.30159%, transparent 87.30159%, transparent 88.88889%, #eee 88.88889%, #eee 100.0%, transparent 100.0%);
    background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 11.11111%, transparent 11.11111%, transparent 12.69841%, #eee 12.69841%, #eee 23.80952%, transparent 23.80952%, transparent 25.39683%, #eee 25.39683%, #eee 36.50794%, transparent 36.50794%, transparent 38.09524%, #eee 38.09524%, #eee 49.20635%, transparent 49.20635%, transparent 50.79365%, #eee 50.79365%, #eee 61.90476%, transparent 61.90476%, transparent 63.49206%, #eee 63.49206%, #eee 74.60317%, transparent 74.60317%, transparent 76.19048%, #eee 76.19048%, #eee 87.30159%, transparent 87.30159%, transparent 88.88889%, #eee 88.88889%, #eee 100.0%, transparent 100.0%); } }
@media screen and (max-width: 480px) {
  body:before {
    background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 22.58065%, transparent 22.58065%, transparent 25.80645%, #eee 25.80645%, #eee 48.3871%, transparent 48.3871%, transparent 51.6129%, #eee 51.6129%, #eee 74.19355%, transparent 74.19355%, transparent 77.41935%, #eee 77.41935%, #eee 100.0%, transparent 100.0%);
    background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 22.58065%, transparent 22.58065%, transparent 25.80645%, #eee 25.80645%, #eee 48.3871%, transparent 48.3871%, transparent 51.6129%, #eee 51.6129%, #eee 74.19355%, transparent 74.19355%, transparent 77.41935%, #eee 77.41935%, #eee 100.0%, transparent 100.0%);
    background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 22.58065%, transparent 22.58065%, transparent 25.80645%, #eee 25.80645%, #eee 48.3871%, transparent 48.3871%, transparent 51.6129%, #eee 51.6129%, #eee 74.19355%, transparent 74.19355%, transparent 77.41935%, #eee 77.41935%, #eee 100.0%, transparent 100.0%);
    background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 22.58065%, transparent 22.58065%, transparent 25.80645%, #eee 25.80645%, #eee 48.3871%, transparent 48.3871%, transparent 51.6129%, #eee 51.6129%, #eee 74.19355%, transparent 74.19355%, transparent 77.41935%, #eee 77.41935%, #eee 100.0%, transparent 100.0%);
    background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 22.58065%, transparent 22.58065%, transparent 25.80645%, #eee 25.80645%, #eee 48.3871%, transparent 48.3871%, transparent 51.6129%, #eee 51.6129%, #eee 74.19355%, transparent 74.19355%, transparent 77.41935%, #eee 77.41935%, #eee 100.0%, transparent 100.0%); } }

* {
  margin: 0;
  padding: 0;
  font-family: arial; }

@keyframes adobe {
  0% {
    margin-right: 20px;
    width: 80px;
    height: 80px;
    margin-top: 0px; }
  25% {
    margin-right: 40px;
    width: 65px;
    height: 65px;
    margin-top: 8px; }
  50% {
    margin-right: 120px;
    width: 50px;
    height: 50px;
    margin-top: 16px; }
  60% {
    margin-right: 100px;
    width: 35px;
    height: 35px;
    margin-top: 24px; }
  100% {
    margin-right: 95px;
    width: 20px;
    height: 20px;
    margin-top: 30px; } }
@-moz-keyframes adobe {
  0% {
    margin-right: 20px;
    width: 80px;
    height: 80px;
    margin-top: 0px; }
  25% {
    margin-right: 40px;
    width: 65px;
    height: 65px;
    margin-top: 8px; }
  50% {
    margin-right: 120px;
    width: 50px;
    height: 50px;
    margin-top: 16px; }
  60% {
    margin-right: 100px;
    width: 35px;
    height: 35px;
    margin-top: 24px; }
  100% {
    margin-right: 95px;
    width: 20px;
    height: 20px;
    margin-top: 30px; } }
@-webkit-keyframes adobe {
  0% {
    margin-right: 20px;
    width: 80px;
    height: 80px;
    margin-top: 0px; }
  25% {
    margin-right: 40px;
    width: 65px;
    height: 65px;
    margin-top: 8px; }
  50% {
    margin-right: 120px;
    width: 50px;
    height: 50px;
    margin-top: 16px; }
  60% {
    margin-right: 100px;
    width: 35px;
    height: 35px;
    margin-top: 24px; }
  100% {
    margin-right: 95px;
    width: 20px;
    height: 20px;
    margin-top: 30px; } }
@-o-keyframes adobe {
  0% {
    margin-right: 20px;
    width: 80px;
    height: 80px;
    margin-top: 0px; }
  25% {
    margin-right: 40px;
    width: 65px;
    height: 65px;
    margin-top: 8px; }
  50% {
    margin-right: 120px;
    width: 50px;
    height: 50px;
    margin-top: 16px; }
  60% {
    margin-right: 100px;
    width: 35px;
    height: 35px;
    margin-top: 24px; }
  100% {
    margin-right: 95px;
    width: 20px;
    height: 20px;
    margin-top: 30px; } }
@keyframes adobeLast {
  0% {
    width: 80px;
    height: 80px;
    margin-top: 0px; }
  25% {
    width: 65px;
    height: 65px;
    margin-top: 8px; }
  50% {
    width: 50px;
    height: 50px;
    margin-top: 16px; }
  60% {
    width: 35px;
    height: 35px;
    margin-top: 24px; }
  100% {
    width: 20px;
    height: 20px;
    margin-top: 30px; } }
@-moz-keyframes adobeLast {
  0% {
    width: 80px;
    height: 80px;
    margin-top: 0px; }
  25% {
    width: 65px;
    height: 65px;
    margin-top: 8px; }
  50% {
    width: 50px;
    height: 50px;
    margin-top: 16px; }
  60% {
    width: 35px;
    height: 35px;
    margin-top: 24px; }
  100% {
    width: 20px;
    height: 20px;
    margin-top: 30px; } }
@-webkit-keyframes adobeLast {
  0% {
    width: 80px;
    height: 80px;
    margin-top: 0px; }
  25% {
    width: 65px;
    height: 65px;
    margin-top: 8px; }
  50% {
    width: 50px;
    height: 50px;
    margin-top: 16px; }
  60% {
    width: 35px;
    height: 35px;
    margin-top: 24px; }
  100% {
    width: 20px;
    height: 20px;
    margin-top: 30px; } }
@-o-keyframes adobeLast {
  0% {
    width: 80px;
    height: 80px;
    margin-top: 0px; }
  25% {
    width: 65px;
    height: 65px;
    margin-top: 8px; }
  50% {
    width: 50px;
    height: 50px;
    margin-top: 16px; }
  60% {
    width: 35px;
    height: 35px;
    margin-top: 24px; }
  100% {
    width: 20px;
    height: 20px;
    margin-top: 30px; } }
#owl-demo .item {
  background: #3fbf79;
  padding: 30px 0px;
  color: #FFF;
  width: 100%;
  height: 400px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center; }

.customNavigation {
  text-align: center; }

.customNavigation a {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

aside {
  -webkit-user-select: none; }
aside .toggle-btn {
  cursor: pointer;
  z-index: 999;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 30px;
  left: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #C03B46; }
@media screen and (max-width: 414px) {
  aside .toggle-btn {
    position: fixed;
    top: 15px;
    left: 15px;
    width: 40px;
    height: 40px; } }
aside .toggle-btn span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #F4EBD8;
  position: relative;
  left: 15px;
  top: 28px; }
@media screen and (max-width: 414px) {
  aside .toggle-btn span {
    width: 20px;
    height: 2px;
    left: 10px;
    top: 19px; } }
aside .toggle-btn span:before, aside .toggle-btn span:after {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: absolute;
  content: "";
  width: 30px;
  height: 4px;
  background-color: #F4EBD8; }
@media screen and (max-width: 414px) {
  aside .toggle-btn span:before, aside .toggle-btn span:after {
    width: 20px;
    height: 2px; } }
aside .toggle-btn span:before {
  top: -8px; }
aside .toggle-btn span:after {
  top: 8px; }
aside .toggle-btn:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6); }
aside .toggle-btn:hover span, aside .toggle-btn:hover span:before, aside .toggle-btn:hover span:after {
  background-color: white; }
aside .toggle-btn.menu-open span {
  background-color: transparent; }
aside .toggle-btn.menu-open span:before, aside .toggle-btn.menu-open span:after {
  background-color: #F4EBD8;
  top: 0; }
aside .toggle-btn.menu-open span:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }
aside .toggle-btn.menu-open span:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }
aside .toggle-btn.menu-open:hover span:before, aside .toggle-btn.menu-open:hover span:after {
  background-color: white; }
aside nav {
  z-index: 998;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 60px;
  left: 60px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  background: #F4EBD8;
  color: #3A3D3F;
  border-radius: 5px;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease; }
aside nav ul {
  list-style: none;
  padding: 10px; }
aside nav ul li {
  text-align: center;
  height: 35px;
  line-height: 35px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
aside nav ul li:hover {
  background: #C03B46;
  color: #F4EBD8;
  font-weight: bold; }
@media screen and (max-width: 414px) {
  aside nav {
    border-radius: 0 0 5px 5px;
    position: fixed;
    top: -300px;
    left: 0px;
    width: 100%;
    height: 300px; } }
aside nav.menu-open {
  width: 250px;
  height: 300px; }
@media screen and (max-width: 414px) {
  aside nav.menu-open {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 300px; } }
aside .btn-ctr {
  z-index: 997;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none; }

section.welcome {
  width: 100%;
  height: 100vh;
  background: url(../img/welcome.png);
  background-attachment: fixed; }
section.welcome .welcome-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
section.welcome .welcome-container div {
  text-align: center;
  letter-spacing: 0.1em;
  color: #3A3D3F;
  margin-top: 20px; }
section.welcome .welcome-container .logo {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background: url(../img/logo.svg);
  background-size: 100% 100%;
  margin-bottom: 20px;
  margin-top: 20px; }
@media only screen and (max-width: 64em) {
  section.welcome .welcome-container .logo {
    width: 160px; } }
@media only screen and (max-width: 40em) {
  section.welcome .welcome-container .logo {
    width: 120px; } }
@media only screen and (max-width: 64em) {
  section.welcome .welcome-container .logo {
    height: 160px; } }
@media only screen and (max-width: 40em) {
  section.welcome .welcome-container .logo {
    height: 120px; } }
section.welcome .welcome-container .welcome-jobtitle {
  font-size: 14px;
  letter-spacing: 0.05em; }
section.welcome .welcome-container .welcome-title {
  font-size: 40px;
  font-weight: bolder;
  text-transform: uppercase; }
@media only screen and (max-width: 64em) {
  section.welcome .welcome-container .welcome-title {
    font-size: 30px; } }
@media only screen and (max-width: 40em) {
  section.welcome .welcome-container .welcome-title {
    font-size: 24px; } }
section.welcome .welcome-container .welcome-subtitle {
  font-size: 34px;
  margin-bottom: 40px; }
@media only screen and (max-width: 64em) {
  section.welcome .welcome-container .welcome-subtitle {
    font-size: 24px; } }
@media only screen and (max-width: 40em) {
  section.welcome .welcome-container .welcome-subtitle {
    font-size: 14px; } }
section.welcome .welcome-container i {
  cursor: pointer;
  text-align: center;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  border: 1px solid #3A3D3F;
  font-size: 24px;
  line-height: 40px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
section.welcome .welcome-container i:hover {
  background-color: #C03B46;
  color: white;
  border-color: #C03B46; }
section.welcome .header-container {
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  width: 180px;
  height: 60px;
  border-radius: 30px;
  border: 1px solid #3A3D3F;
  color: #3A3D3F;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
@media screen and (max-width: 414px) {
  section.welcome .header-container {
    width: 40px;
    height: 40px;
    top: 15px;
    right: 15px;
    line-height: 40px; }
  section.welcome .header-container span {
    display: none; } }
@media screen and (min-width: 414px) and (max-width: 768px) {
  section.welcome .header-container {
    width: 60px;
    height: 60px; }
  section.welcome .header-container span {
    display: none; } }
section.welcome .header-container:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  background-color: #C03B46;
  border-color: #C03B46;
  color: #F4EBD8; }

section.about {
  background-color: #3A3D3F; }
section.about .wrapper {
  *zoom: 1;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }
section.about .wrapper:before, section.about .wrapper:after {
  display: table;
  content: '';
  line-height: 0; }
section.about .wrapper:after {
  clear: both; }
section.about .wrapper .col-6 {
  width: 100%;
  height: 500px;
  overflow: hidden;
  float: left;
  display: block;
  margin-right: 1.05263%;
  width: 49.47368%; }
section.about .wrapper .col-6:last-child {
  margin-right: 0; }
@media screen and (max-width: 695px) {
  section.about .wrapper .col-6 {
    float: left;
    display: block;
    margin-right: 1.05263%;
    width: 100%; }
  section.about .wrapper .col-6:last-child {
    margin-right: 0; } }
section.about .wrapper .col-6.image {
  background-image: url(../img/sketch.jpg);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-position: center right;
  background-size: cover;
  background-repeat: none; }
@media screen and (max-width: 695px) {
  section.about .wrapper .col-6.image {
    height: 300px;
    background-position: 0% 25%; } }
@media screen and (max-width: 480px) {
  section.about .wrapper .col-6.image {
    height: 200px;
    background-position: 0% 25%; } }
section.about .wrapper .col-6.content {
  padding-left: 40px;
  padding-right: 40px;
  color: #F4EBD8; }
@media screen and (max-width: 695px) {
  section.about .wrapper .col-6.content {
    height: auto; } }
section.about .wrapper .col-6.content h1 {
  text-align: center; }
section.about .wrapper .col-6.content p {
  line-height: 1.4;
  margin-bottom: 10px; }
section.about .wrapper .col-6.content .interest-box {
  *zoom: 1;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }
section.about .wrapper .col-6.content .interest-box:before, section.about .wrapper .col-6.content .interest-box:after {
  display: table;
  content: '';
  line-height: 0; }
section.about .wrapper .col-6.content .interest-box:after {
  clear: both; }
section.about .wrapper .col-6.content .interest-box li.interest {
  height: 80px;
  margin-bottom: 10px;
  float: left;
  display: block;
  margin-right: 1.05263%;
  width: 24.21053%; }
section.about .wrapper .col-6.content .interest-box li.interest i {
  cursor: pointer;
  color: #F4EBD8;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #F4EBD8;
  margin: 0 auto;
  text-align: center;
  line-height: 80px;
  font-size: 2.5em;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
section.about .wrapper .col-6.content .interest-box li.interest i:hover {
  background-color: #A82E45; }
@media screen and (min-width: 695px) and (max-width: 885px) {
  section.about .wrapper .col-6.content .interest-box li.interest i {
    font-size: 2em;
    width: 60px;
    height: 60px;
    line-height: 60px; } }
section.about .wrapper .col-6.content .interest-box li.interest:last-child {
  margin-right: 0; }
section.about .wrapper .col-6.content .interest-box li.interest:nth-child(4n) {
  margin-right: 0; }
section.about .wrapper .col-6.content .interest-box li.interest:nth-child(4n+1) {
  clear: left; }
@media screen and (max-width: 480px) {
  section.about .wrapper .col-6.content .interest-box li.interest {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 48.3871%; }
  section.about .wrapper .col-6.content .interest-box li.interest:last-child {
    margin-right: 0; }
  section.about .wrapper .col-6.content .interest-box li.interest:nth-child(2n) {
    margin-right: 0; }
  section.about .wrapper .col-6.content .interest-box li.interest:nth-child(2n+1) {
    clear: left; } }
section.about .wrapper .col-6.content .interest-description {
  margin-top: 20px;
  margin-bottom: 40px;
  height: 20px;
  overflow: hidden; }
section.about .wrapper .col-6.content .interest-description ul {
  list-style: none; }
section.about .wrapper .col-6.content .interest-description ul li {
  text-align: center; }
section.about .wrapper .col-6.content .interest-description ul li.int-des-0 {
  display: block; }
section.about .wrapper .col-6.content .interest-description ul li.int-des-1, section.about .wrapper .col-6.content .interest-description ul li.int-des-2, section.about .wrapper .col-6.content .interest-description ul li.int-des-3, section.about .wrapper .col-6.content .interest-description ul li.int-des-4 {
  display: none; }

section.skill {
  background-color: #A82E45;
  height: 400px; }
section.skill .skill-title {
  text-align: center; }
section.skill .skill-title h1 {
  display: inline-block;
  margin-top: 50px; }
@media screen and (max-width: 480px) {
  section.skill .skill-title h1 {
    margin-top: 20px; } }
section.skill .software .soft-nav ul {
  height: 80px;
  list-style: none;
  text-align: center; }
section.skill .software .soft-nav ul li {
  display: inline-block;
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 30px;
  -webkit-transition: animation 1s;
  -moz-transition: animation 1s;
  -ms-transition: animation 1s;
  -o-transition: animation 1s;
  transition: animation 1s;
  animation: adobe 0.8s;
  -moz-animation: adobe 0.8s;
  -webkit-animation: adobe 0.8s;
  -moz-animation: adobe 0.8s; }
section.skill .software .soft-nav ul li:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6); }
section.skill .software .soft-nav ul li:not(:last-child) {
  margin-right: 95px; }
section.skill .software .soft-nav ul li:last-child {
  animation: adobeLast 0.8s;
  -moz-animation: adobeLast 0.8s;
  -webkit-animation: adobeLast 0.8s;
  -moz-animation: adobeLast 0.8s; }
section.skill .software .soft-nav ul li:nth-child(1) {
  background-color: #C89700; }
section.skill .software .soft-nav ul li:nth-child(1):hover {
  background-image: url(../img/FW.png); }
section.skill .software .soft-nav ul li:nth-child(2) {
  background-color: #D97828; }
section.skill .software .soft-nav ul li:nth-child(2):hover {
  background-image: url(../img/AI.png); }
section.skill .software .soft-nav ul li:nth-child(3) {
  background-color: #0C5FA1; }
section.skill .software .soft-nav ul li:nth-child(3):hover {
  background-image: url(../img/PS.png); }
section.skill .software .soft-nav ul li:nth-child(4) {
  background-color: #7B9905; }
section.skill .software .soft-nav ul li:nth-child(4):hover {
  background-image: url(../img/DW.png); }
section.skill .software .soft-nav ul li:nth-child(5) {
  background-color: #BA4D81; }
section.skill .software .soft-nav ul li:nth-child(5):hover {
  background-image: url(../img/ID.png); }
@media screen and (max-width: 880px) {
  section.skill .software .soft-nav ul li {
    margin-top: 20px;
    animation: none; }
  section.skill .software .soft-nav ul li:last-child {
    animation: none; }
  section.skill .software .soft-nav ul li:not(:last-child) {
    margin-right: 70px; } }
@media screen and (max-width: 480px) {
  section.skill .software .soft-nav ul li {
    margin-top: 10px; }
  section.skill .software .soft-nav ul li:not(:last-child) {
    margin-right: 30px; } }
