section.skill
	background-color: $c-pompei
	// height: 400px
	.skill-title
		text-align: center
		h1
			display: inline-block
			margin-top: 50px
			+bp(max,480px)
				margin-top: 20px
	.software
		.soft-nav
			ul
				height: 80px
				list-style: none
				text-align: center
				li
					display: inline-block
					background-size: 100% 100%
					+size(20px)
					border-radius: 50%
					cursor: pointer
					&:hover
						box-shadow: 0 0 5px rgba(0,0,0,0.6)
					margin-top: 30px
					+juice-prefixer(transition, animation 1s, webkit moz ms o spec)
					animation: adobe 0.8s
					-moz-animation: adobe 0.8s
					-webkit-animation: adobe 0.8s
					-moz-animation: adobe 0.8s
					&:not(:last-child)
						margin-right: 95px
					&:last-child
						animation: adobeLast 0.8s
						-moz-animation: adobeLast 0.8s
						-webkit-animation: adobeLast 0.8s
						-moz-animation: adobeLast 0.8s
					&:nth-child(1)
						background-color: $c-fw
						&:hover
							background-image: url(../img/FW.png)
					&:nth-child(2)
						background-color: $c-ai
						&:hover
							background-image: url(../img/AI.png)
					&:nth-child(3)
						background-color: $c-ps
						&:hover
							background-image: url(../img/PS.png)
					&:nth-child(4)
						background-color: $c-dw
						&:hover
							background-image: url(../img/DW.png)
					&:nth-child(5)
						background-color: $c-id
						&:hover
							background-image: url(../img/ID.png)
					+bp(max,880px)
						margin-top: 20px
						animation: none
						&:last-child
							animation: none
						&:not(:last-child)
							margin-right: 70px
					+bp(max,480px)
						margin-top: 10px
						&:not(:last-child)
							margin-right: 30px
		.soft-box
			.item
				+outer-container
				.soft-ico
					+span-columns(5)
					.soft-logo
						+size(180px)
						margin: 0 auto
						border-radius: 10px
						text-align: center
						line-height: 180px
						+letterpress(0.75)
						font-size: 50px
						span
							font-size: 0.7em
						background-size: 100% 100%
						position: relative
						&:hover
							&:after,&:before
								+juice-prefixer(transform, rotate(0deg), webkit moz ms o spec)
						&:after,&:before
							+juice-prefixer(transition, all 0.2s ease, webkit moz ms o spec)
							content: ""
							position: absolute
							left: 0
							top: 0
							+size(100%)
							border-radius: 10px
						&:after
							z-index: -1
							+juice-prefixer(transform, rotate(20deg), webkit moz ms o spec)
						&:before
							z-index: -2
							+juice-prefixer(transform, rotate(-20deg), webkit moz ms o spec)

				.soft-con
					+span-columns(7)
					.soft-title
						font-size: 25px
						margin: 20px auto
					.soft-des
						+outer-container
						.soft-par
							+span-columns(7)
						.soft-mark
							+span-columns(5)
							font-size: 50px
							line-height: 1.4em
