@keyframes adobeMargin
{
	0% {
		margin-right: 20px;
		margin-top: 0px;
		width: 80px;
		height: 80px;
	}
	25% {
		margin-right: 40px;
		margin-top: 7.5px;
		width: 80px;
		height: 80px;
	}
	50% {
		margin-right: 80px;
		margin-top:15px;
		width: 20px;
		height: 20px;
	}
	100% {
		margin-right: 95px;
		margin-top:30px;
		width: 20px;
		height: 20px;
	}
}

@-moz-keyframes adobeMargin
{
	0% {
		margin-right: 20px;
		margin-top: 0px;
		width: 80px;
		height: 80px;
	}
	25% {
		margin-right: 40px;
		margin-top: 7.5px;
		width: 80px;
		height: 80px;
	}
	50% {
		margin-right: 80px;
		margin-top:15px;
		width: 20px;
		height: 20px;
	}
	100% {
		margin-right: 95px;
		margin-top:30px;
		width: 20px;
		height: 20px;
	}
}

@-webkit-keyframes adobeMargin
{
	0% {
		margin-right: 20px;
		margin-top: 0px;
		width: 80px;
		height: 80px;
	}
	25% {
		margin-right: 40px;
		margin-top: 7.5px;
		width: 80px;
		height: 80px;
	}
	50% {
		margin-right: 80px;
		margin-top:15px;
		width: 20px;
		height: 20px;
	}
	100% {
		margin-right: 95px;
		margin-top:30px;
		width: 20px;
		height: 20px;
	}
}

@-o-keyframes adobeMargin
{
	0% {
		margin-right: 20px;
		margin-top: 0px;
		width: 80px;
		height: 80px;
	}
	25% {
		margin-right: 40px;
		margin-top: 7.5px;
		width: 80px;
		height: 80px;
	}
	50% {
		margin-right: 80px;
		margin-top:15px;
		width: 20px;
		height: 20px;
	}
	100% {
		margin-right: 95px;
		margin-top:30px;
		width: 20px;
		height: 20px;
	}
}



// @keyframes adobeSize
// {
// 	0% {
// 		width: 80px;
// 		height: 80px;
// 	}
// 	25% {
// 		width: 80px;
// 		height: 80px;
// 	}
// 	50% {
// 		width: 80px;
// 		height: 80px;
// 	}
// 	100% {
// 		width: 20px;
// 		height: 20px;
// 	}
// }

// @keyframes -moz-adobeSize
// {
// 	0% {
// 		width: 80px;
// 		height: 80px;
// 	}
// 	25% {
// 		width: 80px;
// 		height: 80px;
// 	}
// 	50% {
// 		width: 80px;
// 		height: 80px;
// 	}
// 	100% {
// 		width: 20px;
// 		height: 20px;
// 	}
// }

// @keyframes -webkit-adobeSize
// {
// 	0% {
// 		width: 80px;
// 		height: 80px;
// 	}
// 	25% {
// 		width: 80px;
// 		height: 80px;
// 	}
// 	50% {
// 		width: 80px;
// 		height: 80px;
// 	}
// 	100% {
// 		width: 20px;
// 		height: 20px;
// 	}
// }

// @keyframes -o-adobeSize
// {
// 	0% {
// 		width: 80px;
// 		height: 80px;
// 	}
// 	25% {
// 		width: 80px;
// 		height: 80px;
// 	}
// 	50% {
// 		width: 80px;
// 		height: 80px;
// 	}
// 	100% {
// 		width: 20px;
// 		height: 20px;
// 	}
// }